@font-face {
  font-family: "toutiao";
  /* Project id 3390193 */
  src: url('//at.alicdn.com/t/font_3390193_gm6gz7q23i.woff2?t=1652167728815') format('woff2'), url('//at.alicdn.com/t/font_3390193_gm6gz7q23i.woff?t=1652167728815') format('woff'), url('//at.alicdn.com/t/font_3390193_gm6gz7q23i.ttf?t=1652167728815') format('truetype');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiaoshipin1:before {
  content: "\e624";
}
.toutiaoyoujiantou1:before {
  content: "\e625";
}
.toutiaoyuedu1:before {
  content: "\e626";
}
.toutiaozuopin1:before {
  content: "\e627";
}
.toutiaogengduo1:before {
  content: "\e613";
}
.toutiaolishi1:before {
  content: "\e614";
}
.toutiaofenxiang2:before {
  content: "\e615";
}
.toutiaodianzan:before {
  content: "\e616";
}
.toutiaoshanchu1:before {
  content: "\e617";
}
.toutiaodianzan21:before {
  content: "\e618";
}
.toutiaoguanbi1:before {
  content: "\e619";
}
.toutiaopinglun:before {
  content: "\e61a";
}
.toutiaoshouye:before {
  content: "\e61b";
}
.toutiaowenda1:before {
  content: "\e61c";
}
.toutiaoshouji1:before {
  content: "\e61d";
}
.toutiaoshoucang1:before {
  content: "\e61e";
}
.toutiaowode1:before {
  content: "\e61f";
}
.toutiaosousuo1:before {
  content: "\e620";
}
.toutiaoyanzhengma:before {
  content: "\e621";
}
.toutiaozuojiantou1:before {
  content: "\e622";
}
.toutiaowuwangluo1:before {
  content: "\e623";
}
.toutiaofenxiang1:before {
  content: "\e612";
}
.toutiaodianzan2:before {
  content: "\e601";
}
.toutiaozuopin:before {
  content: "\e602";
}
.toutiaoguanbi:before {
  content: "\e603";
}
.toutiaowuwangluo:before {
  content: "\e604";
}
.toutiaoshanchu:before {
  content: "\e605";
}
.toutiaolishi:before {
  content: "\e606";
}
.toutiaosousuo:before {
  content: "\e607";
}
.toutiaofenxiang:before {
  content: "\e608";
}
.toutiaoshoucang:before {
  content: "\e609";
}
.toutiaoyoujiantou:before {
  content: "\e60a";
}
.toutiaozuojiantou:before {
  content: "\e60b";
}
.toutiaogengduo:before {
  content: "\e60c";
}
.toutiaowenda:before {
  content: "\e60d";
}
.toutiaowode:before {
  content: "\e60e";
}
.toutiaoshipin:before {
  content: "\e60f";
}
.toutiaoyuedu:before {
  content: "\e610";
}
.toutiaoshouji:before {
  content: "\e611";
}
body {
  background-color: #f5f5f9;
}
.page-nav-bar {
  background-color: #3296fa;
}
.page-nav-bar .van-nav-bar__title,
.page-nav-bar .van-icon {
  color: #fff;
}
